.companies {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.companySearchBar {
    margin-top: 60px;
    width: 70%;
}

.companySearchBar input {
    width: 60%;
    border-radius: 6px;
    height: 5vh;
    font-size: larger;
    border: 0;
}

.companySearchBar button {
    height: 48px;
    width: 110px;
    border-radius: 6px;
    border: 0;
    background-color: rgb(97, 97, 255);
    color: white;
    font-size: 20px;
    margin-left: 5px;
    margin-bottom: 15px;
}

.companySearchBar button:hover {
    cursor: pointer;
    background-color: rgb(67, 67, 255);
    transition: .2s;
}